/* This is Jenn's CSS Style Sheet */

/* Setting the stage (background) */
body {
        background-image: url("images/ladder_girl.svg");
        background-position: top 0px left 10px;
        background-color: #F2EADF;
    }

/* Footer */
#puttingFinFooter {
  height: 250px;
}

.footerBlock {
  display: inline-block;
  padding: 20px;
}

/* getting griddy with it */
.wrapper {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(6, 1fr);
}
.foot-menu {
grid-column: 2 / 4;
grid-row: 6;
}
.social-menu {
grid-column: 5;
grid-row: 6;
}

/* Skewed homepage boxes */
.d-inline-flex {
    display: inline-flex;
    gap: 5px;
  }
  
  .bg-skew-frame {
    position: relative;
    padding: 5px;
  }
  
  .bg-skew-frame::before {
    content: '';
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(-5deg);
  }
  
  .bg-skew-window {
    position: relative;
  }
  
  .bg-skew-window::before {
    content: '';
    background: teal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(-5deg);
  }
  
  .bg-skew-window__content {
    position: relative;
    padding: 10px;
  }
  