/* This is Jenn's CSS Style Sheet */

/* Setting the stage (background) */
body {
        background-image: url("images/ladder_girl.svg");
        background-position: top 0px left 10px;
        background-color: #F2EADF;
    }

/* Footer */
#puttingFinFooter {
    height: 250px;
}

.footerBlock {
    display: inline-block;
    padding: 20px;
}


/* The way that didn't work */
.footer-menu-style {
    display: inline-block;
    width: 50%;
    height: 100px;
    padding: 5px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

  li {
    float: right;
  }

/* Skewed homepage boxes */
.d-inline-flex {
    display: inline-flex;
    gap: 5px;
  }
  
  .bg-skew-frame {
    position: relative;
    padding: 5px;
  }
  
  .bg-skew-frame::before {
    content: '';
    background: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(-5deg);
  }
  
  .bg-skew-window {
    position: relative;
  }
  
  .bg-skew-window::before {
    content: '';
    background: teal;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: skew(-5deg);
  }
  
  .bg-skew-window__content {
    position: relative;
    padding: 10px;
  }
  